.std-transition-duration {
  transition: $std-duration ease-out !important;
}

.pressable {
  @extend .std-transition-duration;

  &:active {
    transform: scale($std-shrink-factor) !important;
  }
}

.std-hover {
  @media (hover) {
    &:hover {
      transition: $std-duration ease-out;
      outline: 0;
      cursor: pointer;
    }
  }

  &--scale {
    &:hover {
      @extend .std-transition-duration;
      transform: scale($std-scale-factor);
    }
  }
}

svg {
  // To have a cursor-pointer on icons
  @extend .std-hover;
}

.loader {
  @apply border-2 border-solid rounded-full border-gray-700
           border-t-2 border-t-white
           w-1.5rem h-1.5rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
