.basic-btn-styles {
  @apply rounded-md h-3rem min-h-3rem flex flex-row items-center justify-center;
  min-width: 5rem !important;
  max-width: 15rem !important;
  padding: $std-padding !important;
}

.btn-primary {
  @extend .pressable;
  @extend .std-hover;
  @extend .std-hover--scale;
  @extend .basic-btn-styles;

  color: white;
  background-color: var(--red);

  &:disabled {
    color: var(--primary);
    background-color: var(--secondary);
    pointer-events: none;
    user-select: none;
    transition: $std-duration ease-out;
  }
}

.btn-secondary {
  @extend .pressable;
  @extend .std-hover;
  @extend .std-hover--scale;
  @extend .basic-btn-styles;

  color: var(--red);
  background-color: white;
}

.btn-success {
  @extend .pressable;
  @extend .std-hover;
  @extend .std-hover--scale;
  @extend .basic-btn-styles;

  color: white;
  background-color: var(--green);
}

.btn-saving {
  @extend .basic-btn-styles;
  @apply border-2 border-gray-300 bg-gray-200 text-gray-500;
}
