@mixin formElementStyle {
  color: gray !important;
  padding: $std-padding !important;
  @apply rounded-md border-2 border-gray-200 w-full;
}

input,
select,
textarea {
  @include formElementStyle;

  &:disabled {
    @apply bg-gray-200;
  }
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: none;

  height: 1rem;
  width: 1rem;
  max-width: 1rem;

  border: 0.125rem solid var(--green);
  border-radius: 50%;
  margin-right: 0.25rem;

  &:checked {
    background-color: var(--green);
  }
}
