.theme {
  --green: #569d3e;
  --red: #cb4b41;
  --red-darker: #72231d;
  --yellow: #f6ca56;

  &--light {
    @extend .theme;
    --primary: #e5e7eb;
    --secondary: #ffffff;
  }

  &--dark {
    @extend .theme;
    --primary: #0f0c21;
    --secondary: #667080;
  }
}
